	<div class="sidebar">

		<h2>User info</h2>
		<div class="image">
		<%= attachment_image_tag user, :profile_image, :fill, 100, 100,fallback: "no_image.jpg" %>
	    </div>

		<div class="border"></div>
		<div class="row">
			<div class="col-md-3">
			  <p>name</p>
		    </div>
		    <div class="col-md-3">
			  <%= user.name %>
		    </div>
	    </div>

		<div class="border"></div>
	    <div class="row">
	    	<div class="col-md-3">
		      <p>introduction</p>
		    </div>
		    <div class="col-md-3">
		      <%= user.introduction %><br>
		    </div>
		</div>
		<button type="button" class="btn btn-default">
			<%= link_to edit_user_path(user) do %>
			<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
			<% end %>
		</button>

		<%= form_for(book) do |f| %>

		<h2>New book</h2>

		<p>Title</p>
		<%= f.text_field :title %>

		<p>Opinion</p>
		<%= f.text_area :body %><br>
		<%= f.submit "Create Book",class: "btn btn-primary"%>
		<% end %>
	</div>